@media only screen and (min-width: 750px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

@media only screen and (min-width: 750px) {
    .modal-dialog {
        max-width: 750px;
        margin: 1.75rem auto;
    }
}

@media only screen and (min-width: 1000px) {
    .modal-dialog {
        max-width: 900px !important;
        margin: 1.75rem auto;
    }
}

@media only screen and (min-width: 1330px) {
    .modal-dialog {
        max-width: 1200px !important;
        margin: 1.75rem auto;
    }
}

.modal-upload{
    max-width: 500px !important;
    margin: 1.75rem auto;
}

.modal-export{
    max-width: 500px !important;
    margin: 1.75rem auto;
}

.font-check{
    font-size: 18px !important;
}

.checkbox {
    font-size: 50px !important;
}
