.css-0{
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .35);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
