.responsive {
    /* width: 100% !important;  */
    height: 115px !important;
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */
       /* padding: "80px"; */
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: "40%";
    padding: "80px";
  }
  .responsive-image {
    position: relative;
    max-width: 100%;
  }
  
  .responsive-image__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .background-image {
    width: 100%;  
    /* min-height: 100vh; */

    display: flex;
 
    justify-content: center;
    background-image: linear-gradient(
      rgba(155, 148, 223, 0.65), 
      rgba(255, 0, 0, 0.45)
    ), url('../../assets/img/business.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: rgb(212, 174, 174); */
    /* background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
    background: linear-gradient(bottom, #0250c5, #d43f8d); */
    position: relative;
    z-index: 1;
  }

  @media only screen and (max-width: 600px) {
    .paper-style {
      width: 100%
    }
  }

  @media only screen and (min-width: 900px) {
    .paper-style {
      width: 80%
    }
  }

  @media only screen and (min-width: 1200px) {
    .paper-style {
      width: 70%
    }
  }

  @media only screen and (min-width: 1440px) {
    .paper-style {
      width: 40%
    }
  }